<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="CSProj.Properties.Settings.connStr" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename='C:\Python32\projects\go away this is mine!\LEAVE\Comp-Project\Comp-Project_deluxe\Comp-Project_deluxe\CSProj.mdf';Integrated Security = True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>